<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>

    <%- messages() %>
      <form id="loginForm" action="/account/login" method="post"> 
        <label for="mail">Email</label>
        <input type="email" id="mail" name="account_email" placeholder="user@email.com" required></label>
        <label for="password">Password</label>
        <div>The password must be at least 12 characters and have at least 1 uppercase, 1 number, and 1 special character</div> 
        <input type="password" name="account_password" required pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$">
        <button>Login</button>
      </form>

     <p>No account? <a href="/account/register">Sign-up</a></p>