<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>

    <%# messages() %>

     <form id="classification-form" action="/inv/add-classification" method="post">
        
     </form>